################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Comps-Sci-303-Assignment-1/FileContentIndex
/.vs/Project1/FileContentIndex
/.vs/Project1/v17/Browse.VC.opendb
